div {
    background: #FDC110;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.shadow-top {
    box-shadow: 0px -5px 4px -4px black;
}

.shadow-bottom {
    box-shadow: 0 5px 4px -4px black
}
.shadow-left {
    box-shadow: -5px 0px 4px -4px black;
}
.shadow-right {
    box-shadow: 5px 0px 4px -4px black;
}
.shadow-right-bottom {
    box-shadow: 3px 3px 6px -3px black;
}
.shadow-left-right {
    box-shadow: -5px 0px 4px -4px black,
    5px 0px 4px -4px black;
}
